body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

a:link {
  color: white;
  font-weight: bold;
}

h1, h2, h3 {
  font-weight: bold;
}

h1, #building, footer {
  color: white;
}

h1 {
  font-size: 70px;
}

#top {
  background-image: url("images/the-flatiron-building.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: dimgray;
  font-size: 18px;
}

.heading {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#building {
  background-image: url("images/the-flatiron-building.png");
}

footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
}
